body {
    font-family: "Montserrat", sans-serif;
}

.font-weight-500 {
    font-weight: 500;
}
.navbar-expand-lg .navbar-nav .nav-link {
    font-weight: 500;
    font-size: 14px;
    padding: 10px 20px;
}
.home {
    background-color: #F0F5F9;
    padding: 150px 0 100px 0;
}
.feature-bg {
    background-color: #F0F5F9
}

.result-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-bottom: 20px;
}
.ceo-img {
    display: inline-block;
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
    object-fit: cover;
    object-position: -3px;
}