body {
    font-family: "Montserrat", sans-serif;
}

.font-weight-500 {
    font-weight: 500;
}
.navbar-expand-lg .navbar-nav .nav-link {
    font-weight: 500;
    font-size: 14px;
    padding: 10px 20px;
}