body {
    font-family: "Montserrat", sans-serif;
}
.text-dark-custom {
    color: #3a3a47!important;
}
.text-grey-custom {
    color: #5c5c5c!important;
}
.text-light-grey-custom {
    color: #818198!important;
}
.text-dark-blue-custom {
    color: #383B61!important;
}
.text-blue-custom {
    color: #3498db!important;
}
.text-green-custom {
    color: #21bf73!important;
}
.bg-primary-custom {
    background-color: #f0f5f9!important;
}


.font-weight-500 {
    font-weight: 500;
}
.navbar-expand-lg .navbar-nav .nav-link {
    font-weight: 500;
    font-size: 14px;
    padding: 10px 20px;
}
.home {
    padding: 150px 0 100px 0;
}
.feature-bg {
    background-color: #F0F5F9
}

.result-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-bottom: 20px;
}
.reviews__container {
    padding: 100px 50px;
    background-color: #F0F5F9;
}
.ceo-img {
    display: inline-block;
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
    object-fit: cover;
    object-position: -3px;
}

/* FAQ */
.faq__container {
    padding: 100px 50px;
    background-color: #F0F5F9;
}